<fieldset class="index_set">
  <legend>Messages (<%= @messages.count %>)</legend>
  <%= button_to 'New Message', new_message_path, method: :get, class: :new_model_button %>

<% if @messages.count > 0 %>
  <table>
    <thead>
      <tr>
        <th>Sender</th>
        <th>Receiver</th>
        <th>Title</th>
        <th>Content</th>
        <th>Time</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @messages.each do |message| %>
        <tr>
          <td><%= message.sender.full_name %></td>
          <td><%= message.receiver.full_name %></td>
          <td><%= message.title %></td>
          <td><%= message.content %></td>
          <td><%= message.created_at %></td>
          <td><%= link_to 'Show', message %></td>
          <td><%= link_to 'Edit', edit_message_path(message) %></td>
          <td><%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h4>No Record found</h4>
<% end %>

</fieldset>