<h1>Change Password</h1>

<% if @user.errors.any? %>
  <p>
    <strong>
        <%= t "errors.save_error", count: @user.errors.count, save_obj: (t "user") %>
    </strong>
    <br />
    <% @user.errors.full_messages.each do |msg| %>
        <strong>- <%= msg %></strong><br/>
    <% end %>
  </p>
<% end %>

<%= simple_form_for @user,url: user_save_password_path({id: @user.id}) do |f| %>
	<%= render partial: 'password_form', locals: {f: f} %>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>