<fieldset id="create_form">
  <legend>Models</legend>

<p><%= button_to "Show all Cities", cities_path, method: :get, class: :modelbutton %></p>
<p><%= button_to "Show all Genders", genders_path, method: :get, class: :modelbutton %></p>
<p><%= button_to "Show all Invited Users", invited_users_path, method: :get, class: :modelbutton %></p>
<p><%= button_to "Show all Messages", messages_path, method: :get, class: :modelbutton %></p>
<p><%= button_to "Show all Ratings", ratings_path, method: :get, class: :modelbutton %></p>
<p><%= button_to "Show all Skill Levels", skill_levels_path, method: :get, class: :modelbutton %></p>
<p><%= button_to "Show all Tennis Clubs", tennis_clubs_path, method: :get, class: :modelbutton %></p>
<p><%= button_to "Show all Tennis Courts", tennis_courts_path, method: :get, class: :modelbutton %></p>

<p><%= button_to "Show all User Matches", user_matches_path, method: :get, class: :modelbutton %></p>
<p><%= button_to "Show all Match Sets", match_sets_path, method: :get, class: :modelbutton %></p>


</fieldset>