<%= simple_form_for(@rating) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  	<%= f.input :sender_id, as: :hidden, input_html: {value: current_user.id} %>
    <% if params[:receiver_id] %>
	    <%= f.input :receiver_id, as: :hidden, input_html: {value: params[:receiver_id]} %>
      <%= f.label "To: " %>
      <%= link_to @receiver.full_name, @receiver %>
	  <% else %>
	    <%= f.input :receiver_id, collection: User.where("id != #{current_user.id}").collect{|r| [r.full_name, r.id]}, as: :select, input_html: {class: :form_input}, label: false, prompt: "Select User" %>
	  <% end %>
    <%= f.input :rate, label: false, input_html: {class: :form_input}, placeholder: "Rating" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
